<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static 'css/jobs.css'%}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container" align='center'>
      <div class="jumbotron">
        <h1>!!Hello Veeru Jobs Protal!!</h1>
        <p>!!Cont....Job Option is the Best!!!!</p>
        <a class="btn btn-primary btn-lg" href="/hybjobs" role="button"> hybjobs</a>
        <a class="btn btn-primary btn-lg" href="/blorejobs" role="button"> blorejobs</a>
        <a class="btn btn-primary btn-lg" href="/chennaijobs" role="button"> chennaijobs</a>
        <a class="btn btn-primary btn-lg" href="/punejobs" role="button"> punejobs</a>
      </div>

    </div>

  </body>
</html>
